		table {
			border-spacing: 0px 3px;
			border-collapse: collapse;
		}
	
		th, td {
			padding: .5em;
		}
		
		th {
			font-size: smaller;
		}
	
		/*td {
			white-space: nowrap;
		}*/
		
		.warning, .highlight {
			font-weight: bold;
			border-radius: 8px;
			padding: .25em .5em;
			white-space: nowrap;
		}
		
		.highlight.level-3 {
			background-color: #bbffbb;
			color: #006600;
		}
		
		.highlight.level-2 {
			background-color: #eeffee;
			color: #003300;
		}
		
		.warning.level-2 {
			background-color: #ffeebb;
			color: #665500;
		}
		
		.warning.level-3 {
			background-color: #ffbbbb;
			color: #990000;
		}
